
body,html{
  margin: 0;
  padding: 0;
  font-family: 'Helfvetica Neue Light',HelveticaNeue-Light,ICLight,Arial,sans-serif;
  color: #fff;
  background: black;
}


#logo{
  position: relative;
  padding-top: 13px;
  padding-left: 10px;

}


#logo, img{
   width: 235px;



}

#wrapper{
  width: 100vw;
  height: 100vh;
  margin: auto;
  position: relative;
  overflow: hidden;
 }



.main-content{
  width: 100vw;
  display: flex;
  height: 100vh;
  background-image: url(images/baacking.jpg);
  background-size: cover;
}



.pro-bouton{
    display: inline-block;
  	padding: 15px  29px;
  	border: 3px solid lightgray;
  	text-transform: uppercase;
  	font-size: 16px;
    font-weight: bold;
    top: 89%;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    position: absolute;
    align-content: center;
    border-radius: 2px;
    width: 164px;
}

.pro-bouton:hover{
   background:rgba(255,255,255,.3);
   border-color: #02071a;


}


.pro-bouton a{
   text-decoration: none;
   color: lightgray;
}

.fly-in-text{
    list-style: none;
    position: absolute;
    top: 45%;
    padding-left: 0px ;
    z-index: 25;
    text-align: center;
    left: 0px;
    right: 0px;
    margin:auto;

}



.fly-in-text li{
        display: inline-block;
        margin-right: 3px;
        font-family:'Helvetica Neue Light',HelveticaNeue-Light,ICLight,Arial,sans-serif;
        transition: all 2.5s ease;
        font-size: 39px;
        font-weight: bold;
        opacity: .7;
        color: lightgray;
        opacity:1;
        text-transform: uppercase;
        letter-spacing: 10px;

}

.fly-in-text li:last-child {
   margin-right: 0;
}

.fly-in-text.hidden li{
    opacity: 0;
}


.fly-in-text.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px); }
.fly-in-text.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px); }
.fly-in-text.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(5) { transform: translateX(-300px) translateY(200px); }
.fly-in-text.hidden li:nth-child(6) { transform: translateX(20px) translateY(-20px); }
.fly-in-text.hidden li:nth-child(7) { transform: translateX(30px) translateY(200px); }

.fly-in-text.hidden li:nth-child(8) { transform: translateX(-200px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(9) { transform: translateX(20px) translateY(100px); }
.fly-in-text.hidden li:nth-child(10) { transform: translateX(-150px) translateY(-80px); }
.fly-in-text.hidden li:nth-child(11) { transform: translateX(10px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(12) { transform: translateX(-300px) translateY(200px); }
.fly-in-text.hidden li:nth-child(13) { transform: translateX(20px) translateY(-20px); }
.fly-in-text.hidden li:nth-child(14) { transform: translateX(-300px) translateY(200px); }
.fly-in-text.hidden li:nth-child(15) { transform: translateX(30px) translateY(200px); }

.fly-in-text.hidden li:nth-child(16) { transform: translateX(20px) translateY(100px); }
.fly-in-text.hidden li:nth-child(17) { transform: translateX(30px) translateY(200px); }
.fly-in-text.hidden li:nth-child(18) { transform: translateX(10px) translateY(-200px); }






header{
   width: 100vw;
   background: #fff;
   display: flex;


}

header nav{
    width: 100%;

}

.menu_bar{
  display: none;
}

header nav ul li {
  display: inline-block;
  padding: 2px;


}


header nav ul{
     overflow: hidden;
     list-style: none;
     text-align: right;

}

header nav ul li a {

  color: #373837;
  padding: 20px;
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-family:'Helvetica Neue Light',HelveticaNeue-Light,ICLight,Arial,sans-serif;
  font-weight: bold;
}

header nav ul li span{
   margin-right: 10px;

}

header nav ul li a:hover {
background-color: #deae62;
}





@media screen and (max-width: 800px){
  header nav{
    width: 100%;
    height: 100%;
    left: -100%;
    margin: 0;
    position: fixed;
    padding-top: 58px;
    margin-left: -40px;
  }


  header nav ul li {
     display: block;
     float: none;

     background: #fff;
     text-align: center;
  }

  .menu_bar{
         display: block;
         width: 100%;


  }

  .menu_bar .btn-menu{
         display: block;
         padding: 29px;
         color: #000;
         text-decoration: none;
         font-weight: bold;
         font-size: 25px;
         -Webkit-box-sizing:border-box;
         -moz-box-sizing:border-box;
         box-sizing: border-box;
  }

  .menu_bar .btn-menu img{
         width: 30px;
         height: 30px;
  }

  .menu_bar span {

    float: right;
  }

  .fly-in-text{
      display: none;

  }

}



.social img{
width: 50px;
height: 50px;
}
.social-icons {
	list-style: none;
	width: 100px;
  position: fixed;
  top:50%;
}
.social-icons li {
	float:none;
  display: block
}
.social-icons li a {
    display:inline-block;
    width:100px;
    height:50px;
    padding-bottom: 20px;
    float:left;
    overflow:hidden
}
.social-icons li a i {
    padding:5px
}
.facebook {
    color:#3d5b99
}
.facebook:hover {

}
.twitter {

}
.twitter:hover {
  d
}
.youtube {
    color:#e64a41
}
.youtube:hover {

}
.linkedin {
    color:#0073a4
}
.linkedin:hover {
    color:#fff;
  	background-color: #0073a4
}
.google-plus {
    color:#e25714
}
.google-plus:hover {
    color:#fff;
  	background-color: #e25714
}
.facebook,
.twitter,
.youtube,
.linkedin,
.google-plus {
    -o-transition:.5s ease;
  	-ms-transition:.5s ease;
  	-moz-transition:.5s ease;
  	-webkit-transition:.5s ease;
  	transition: .5s ease
}
.facebook:hover,
.twitter:hover,
.youtube:hover,
.linkedin:hover,
.google-plus:hover {
    width:50px;
}
